version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: prueba_fe_db
    environment:
      - POSTGRES_DB=prueba_fe_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: